
@{
    ViewBag.Title = "KortOverPositioner";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<style>
    /* Always set the map height explicitly to define the size of the div
         * element that contains the map. */
    #map {
        height: 100%;
    }
    /* Optional: Makes the sample page fill the window. */
    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
    }
</style>




        <div id="map" style="height:560px; width:100%;"></div>
 
<script>


    var map;
    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            zoom: 8,
            center: new google.maps.LatLng(56.33748610320528, 10.555478668118047),
            mapTypeId: 'roadmap'
        });

        var iconBase = '/Content/Billeder/Icons/';
        var icons = {
            Vrag2: {
                icon: iconBase + 'Vrag2.png'
            },
            Fisk: {
                icon: iconBase + 'Fisk.png'
            },
            natur: {
                icon: iconBase + 'natur.png'
            },
            Andet: {
                icon: iconBase + 'Andet.png'
            },
            logokort: {
                icon: iconBase + 'logokort.png'
            }
    
    
        };

        function addMarker(feature) {
            var marker = new google.maps.Marker({
                position: feature.position,
                icon: icons[feature.type].icon,
                map: map
            });
        }

        var features = [
          {
              position: new google.maps.LatLng(55.2828, 14.6176),
              type: 'Vrag2'
          }, {
              position: new google.maps.LatLng(56.1025, 10.58067),
              type: 'Vrag2'
          }, {
              position: new google.maps.LatLng(57.21395, 8.67078),
              type: 'Vrag2'
          }, {
              position: new google.maps.LatLng(56.66008, 8.16192),
              type: 'Vrag2'
          }, {
              position: new google.maps.LatLng(55.38013, 10.85708),
              type: 'Vrag2'
          }, {
              position: new google.maps.LatLng(56.13087, 11.80103),
              type: 'Vrag2'
          }, {
              position: new google.maps.LatLng(56.60083, 10.86167),
              type: 'Vrag2'
          }, {
              position: new google.maps.LatLng(56.43367, 11.2035),
              type: 'Vrag2'
          }, {
              position: new google.maps.LatLng(56.77118, 10.68887),
              type: 'Vrag2'
          }, {
              position: new google.maps.LatLng(56.00247, 11.754),
              type: 'Vrag2'
          }, {
              position: new google.maps.LatLng(56.3701, 8.1388),
              type: 'Vrag2'
          }, {
              position: new google.maps.LatLng(55.76347, 10.10472),
              type: 'logokort'
          }, {
              position: new google.maps.LatLng(54.94475, 10.08783),
              type: 'Fisk'
          }, {
              position: new google.maps.LatLng(55.94255, 10.45945),
              type: 'Fisk'
          }, {
              position: new google.maps.LatLng(55.80153, 10.89523),
              type: 'logokort'
          }, {
              position: new google.maps.LatLng(55.1755, 9.71833),
              type: 'Fisk'
          }, {
              position: new google.maps.LatLng(55.76033, 10.56583),
              type: 'Fisk'
          }, {
              position: new google.maps.LatLng(54.88787, 9.8072),
              type: 'Fisk'
          }, {
              position: new google.maps.LatLng(56.71648, 11.03195),
              type: 'natur'

          }, {

              position: new google.maps.LatLng(57.4467, 10.45945),
              type: 'Fisk'
          }, {
              position: new google.maps.LatLng(55.80153, 9.70452),
              type: 'Fisk'
          }, {
              position: new google.maps.LatLng(56.52523, 12.1272),
              type: 'logokort'
          }, {
              position: new google.maps.LatLng(56.48228, 10.95542),
              type: 'logokort'
          }, {
              position: new google.maps.LatLng(56.48202, 10.95488),
              type: 'Fisk'
          }, {
              position: new google.maps.LatLng(56.71648, 11.03195),
              type: 'natur'

          },
        {
            position: new google.maps.LatLng(56.48208, 10.95502),
            type: 'Fisk'
        }, {
            position: new google.maps.LatLng(56.57962, 8.12547),
            type: 'Fisk'
        }, {
            position: new google.maps.LatLng(57.26305, 8.2374),
            type: 'Fisk'
        }, {
            position: new google.maps.LatLng(55.70677, 10.6250),
            type: 'logokort'
        }, {
            position: new google.maps.LatLng(56.226, 10.4563),
            type: 'Fisk'
        }, {
            position: new google.maps.LatLng(55.32348, 9.68528),
            type: 'natur'

        },
        {
            position: new google.maps.LatLng(57.57393, 9.80867),
            type: 'Vrag2'
        }, {
            position: new google.maps.LatLng(55.8545, 10.50483),
            type: 'Vrag2'
        }, {
            position: new google.maps.LatLng(55.14627, 14.60448),
            type: 'logokort'
        }, {
            position: new google.maps.LatLng(56.9728, 11.6873),
            type: 'Vrag2'
        }, {
            position: new google.maps.LatLng(56.11473, 11.56345),
            type: 'Vrag2'
        }, {
            position: new google.maps.LatLng(57.44675, 10.67137),
            type: 'logokort'
        }, {
            position: new google.maps.LatLng(56.5235, 10.93397),
            type: 'Vrag2'
        }, {
            position: new google.maps.LatLng(57.84962, 11.34572),
            type: 'logokort'
        }

        ];

        for (var i = 0, feature; feature = features[i]; i++) {
            addMarker(feature);
        }
    }


</script>
<script>

</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAyUiOGZtg7QLptOJJGhz3bBBgv-6dDBB0&callback=initMap">
</script>
