<html class="no-js" lang="en" dir="ltr">
@{
    ViewBag.Title = "ShowSpot";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <table>
        <tr>
            <td class="small-12.columns">@Model.Navn</td>
            <td class="large-6 medium-6 small-12.columns"><img src="~/"/></td>
            <td class="large-6 medium-6 small-12.columns">@Model.Beskrivelse</td>

        </tr>
    </table>
</div>


