@using DKrepo
@model List<Position>
@{
    ViewBag.Title = "VisPosition";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@foreach (Position pl in Model)
{
    <div class="row">
        <table>
            <tr>
                <td class="large-5 medium-5 small-12 .columns">@pl.Sted</td>
                <td class="large-3 medium-3 small-12 .columns">@pl.Long</td>
                <td class="large-3 medium-3 small-12 .columns">@pl.Lati</td>
                <td class="large-1 medium-1 .columns"><a href="/Home/"><img src="~/Content/ikoner/@pl.Videre" width="30" /></a></td>
            </tr>
        </table>
    </div>
}