<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Admin Side</title>
    <link href="~/Content/css/foundation.css" rel="stylesheet" />
    <link href="~/Content/css/AdminStyle.css" rel="stylesheet" />
    <link href="~/Content/css/font-awesome.css" rel="stylesheet" />
    <link href="~/https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <meta name="description" content="The description of my page" />
</head>
<body>
    <header>
        <div class="row">
            <div class="small-7 medium-9 large-10 columns">
                <a href="#"><img class="logo" src="~/Content/logo/Logo.png" width="110"/></a>
            </div>
            <div class="small-5 medium-3 large-2 columns">
                <ul>
                    <li><a class="signout" href="/Home/KortOverPositioner/"><i class="fa fa-sign-out fa-fw"></i>Sign Out</a></li>
                </ul>
            </div>
        </div>
    </header>
    
    <div class="row">
        <div class="container body-content">
            @RenderBody()
            <hr />
        </div>
    </div>

    <script src="~/Content/js/vendor/foundation.js"></script>
</body>
</html>
